body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    background-color: rgba(245, 222, 179, 0.293);
}

.card {
    width: 100%;
    max-width: 600px;
    border: 1px solid rgba(73, 14, 14, 0.125);
    padding: 24px;
    background: rgba(255, 0, 0, 0.079);
    border-radius: 16px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.197);
}

.input {
    width: 96%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.204);
    border-radius: 30px;
}

.button {
    width: 100%;
    padding: 12px;
    background-color: rgba(0, 0, 255, 0.414);
    color: black;
    font-size: 15px;
    font-weight: 700;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.button:hover {
    background-color: #eb5d253e;
}

.result {
    margin-top: 10px;
    padding: 10px;
    background-color: #e5e7eb;
    border-radius: 20px;
}

.result-title {
    font-weight: bold;
}

.result-text {
    font-size: 16px;
}

.toggle-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.toggle-button {
    background: linear-gradient(135deg, #4A90E2, #1C3FAA);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s;
}
.toggle-button:hover {
    background: linear-gradient(135deg, #1C3FAA, #4A90E2);
    transform: scale(1.05);
}
.toggle-button:active {
    transform: scale(0.95);
}
.dark-mode {
    background-color: #1e1e1ee5;
    color: white;
}
.light-mode {
    background-color: whitesmoke;
    color: black;
}

